<!DOCTYPE html>
<html>
  <head>
    <title>标记DEMO</title>
    <meta charset="UTF-8" />
    <style>
      html,
      body {
        padding: 0px;
        margin: 0px;
      }

      #app {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #sampleImage {
        max-width: 100%;
        max-height: 80%;
      }

    </style>
  </head>

  <body>
    <div id="app">
      <img id="sampleImage" src="./assets/sample.jpg" crossorigin="anonymous" />
    </div>

    <script  type="module">
      import * as markerjs2 from './index.ts';
      const state = {
  "width": 843,
  "height": 818,
  "markers": [
    {
      "fillColor": "transparent",
      "strokeColor": "#EF4444",
      "strokeWidth": 3,
      "strokeDasharray": "",
      "opacity": 1,
      "left": 87.5,
      "top": 34,
      "width": 71,
      "height": 37,
      "rotationAngle": 0,
      "visualTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "containerTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "typeName": "FrameMarker",
      "state": "select"
    },
    {
      "drawingImgUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADsAAAAjCAYAAAAqoHJFAAAAAXNSR0IArs4c6QAAAlZJREFUaEPd2btu1EAUBuD/jEEQoNhZ6JDSIEHFE0ATX1JSUeQJ8gTwFpFS8gg8AF18SRNeIA1USDQ0SLELclHCzkH22o69vmmD7bU91Wov0nz7zzn2jMnXdQUiQjiUWsjj43vR6wkO8g2DEVsjH/Nk0UVskuhiMbmUKV3G2XQnCl7WKgB/Z+cvhNBySzr8YEIJp9gcWtO0XH+aCLiATVNeBSvF0vPEmJt0KbYSPPJarsROEVyLnRq4EZut0egyJUT+NyOq5bWwtUmPoGOvjR0z+E7YsYLvjE1vQkrqmJjVzHXzNyYDuED/N7Y2ZaWupec9GIAzmkIr2Bh8A00r7oWZlRxIyq1hY/A1NO1+WZKs1NXc87Y2mXKr2Lo6js4FNgzuBBulrOtXEKJYr8xg4GLuuo/7TrkzbGPKzL2DO8eG6DNdvyQhHhaSDM+7lmMhXbfzg75esDH4goi2Cich2X+AyJe2Pe9qefeGTQBnhnFORI8qQUnaRL+k4zxvE947NkrZMP4QsGxQZQd9iTCEE/2QjvOiDfRGsKsTDwzjhonqarYV8CCwIT4wzd/M/Kwy7dtmBgjxVdr223XTHgw2O3HfNH+Cebuhma0NHiQ2bWam+Z2AV43NTIgv0rbfNSU9aGx0J2ZZp1DqdQqpamjM4TMrJqLDmW1/KIMPHrs6ad+yTsD8pilFBs6FEB9nR0efku+ODhun7UApo/HSFW4+gG8A9ueOczJKbDbVwLI+s1J7kSt5zlweezB6bGGZm+YpgJcACjuuyWETfLC7+56VOgDwFMCT8P1/I4X9dtvyHf4AAAAASUVORK5CYII=",
      "left": 220,
      "top": 38,
      "width": 59,
      "height": 35,
      "rotationAngle": 0,
      "visualTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "containerTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "typeName": "FreehandMarker",
      "state": "select"
    },
    {
      "arrowType": "end",
      "strokeColor": "#EF4444",
      "strokeWidth": 3,
      "strokeDasharray": "",
      "x1": 293.5,
      "y1": 28,
      "x2": 349.5,
      "y2": 65,
      "typeName": "ArrowMarker",
      "state": "select"
    },
    {
      "color": "#EF4444",
      "fontFamily": "Helvetica, Arial, sans-serif",
      "padding": 5,
      "text": "OIO",
      "wrapText": false,
      "left": 385.5,
      "top": 28,
      "width": 96,
      "height": 62,
      "rotationAngle": 0,
      "visualTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "containerTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "typeName": "TextMarker",
      "state": "select"
    },
    {
      "fillColor": "#EF4444",
      "strokeColor": "#EF4444",
      "strokeWidth": 3,
      "strokeDasharray": "",
      "opacity": 1,
      "left": 532.5,
      "top": 30,
      "width": 125,
      "height": 56,
      "rotationAngle": 0,
      "visualTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "containerTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "typeName": "EllipseMarker",
      "state": "select"
    },
    {
      "strokeColor": "#EF4444",
      "strokeWidth": 3,
      "strokeDasharray": "",
      "points": [
        {
          "x": 95.5,
          "y": 116
        },
        {
          "x": 77.5,
          "y": 199
        },
        {
          "x": 191.5,
          "y": 193
        },
        {
          "x": 139.5,
          "y": 144
        }
      ],
      "typeName": "PolylineMarker",
      "state": "select"
    },
    {
      "strokeColor": "#EF4444",
      "strokeWidth": 3,
      "strokeDasharray": "",
      "fillColor": "transparent",
      "opacity": 1,
      "points": [
        {
          "x": 233.5,
          "y": 125
        },
        {
          "x": 238.5,
          "y": 198
        },
        {
          "x": 421.5,
          "y": 172
        },
        {
          "x": 314.5,
          "y": 108
        }
      ],
      "typeName": "PolygonMarker",
      "state": "select"
    },
    {
      "fillColor": "#FFFF00",
      "strokeColor": "transparent",
      "strokeWidth": 0,
      "strokeDasharray": "",
      "opacity": 0.5,
      "left": 462.5,
      "top": 112,
      "width": 78,
      "height": 44,
      "rotationAngle": 0,
      "visualTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "containerTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "typeName": "HighlightMarker",
      "state": "select"
    },
    {
      "bgColor": "#EF4444",
      "tipPosition": {
        "x": 18,
        "y": 50
      },
      "color": "#FFFFFF",
      "fontFamily": "Helvetica, Arial, sans-serif",
      "padding": 5,
      "text": "OIO",
      "wrapText": false,
      "left": 609.5,
      "top": 128,
      "width": 100,
      "height": 30,
      "rotationAngle": 0,
      "visualTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "containerTransformMatrix": {
        "a": 1,
        "b": 0,
        "c": 0,
        "d": 1,
        "e": 0,
        "f": 0
      },
      "typeName": "CalloutMarker",
      "state": "select"
    }
  ]
}
      function showMarkerArea(target) {
        const markerArea = new markerjs2.MarkerArea(target);
        markerArea.uiStyleSettings.zoomButtonVisible = true;
        markerArea.uiStyleSettings.zoomOutButtonVisible = true;
        markerArea.uiStyleSettings.notesButtonVisible = true;
        markerArea.addEventListener(
          "render",
          (event) => {
            target.src = event.dataUrl;
            console.log(event.state);
          }
        );
        markerArea.show();
        markerArea.restoreState(state);
      }

      const sampleImage = document.getElementById("sampleImage");
      sampleImage.addEventListener("click", () => {
        showMarkerArea(sampleImage);
      });
    </script>
  </body>
</html>
